.loader_container
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.507);
}


.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.UserOrder_MainContainer
{
  position: relative; 
    text-align: center;
}

.UserOrder_BackgroundImage{
  height: 140vh;
  width: 100%;
}

.Order_Main_Contatiner img{
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}









/* Style for the form container */
.UserReview-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
}

/* Style for the review textarea */
.UserReview-textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  background-color: #ffff;

}

/* Style for the rating stars container */
.UserReview-rating-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Style for the individual star */
.UserReview-star {
  cursor: pointer;
}

/* Style for the rating text */
.UserReview-rating-text {
  margin-top: 10px;
}






.modal-body {
  padding: 20px;
}

.detail-row {
  margin-bottom: 10px;
}

.detail-label {
  font-weight: bold;
  margin-right: 10px;
}

.detail-value {
  font-weight: normal;
}

