.loader_container
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.507);
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }








  .Update-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(11, 73, 123, 0.08);
  }
  
  .Update-form-group {
    margin-bottom: 20px;
  }
  
  .Update-form-group label {
    display: block;
    font-weight: bold;
  }
  
  .Update-form-group input[type="text"],
  .Update-form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .Update-form-group input[type="submit"]:hover {
    background-color: #0056b3;
  }

  .Update-form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Adjust font size as needed */
    background-size: 12px;
  }
  
  .Update-form-group select:focus {
    outline: none; /* Remove default focus outline */
    border-color: #007bff; /* Change border color on focus */
  }
  



  



.Form
{
    padding: 20px;
    margin-bottom: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    
}



  .form_container {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    backdrop-filter: blur(4px);

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff54;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 18px;
  }
  
  .form-group input[type="text"],
  .form-group select {
    width: calc(100% - 20px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-group input[type="file"] {
    width: calc(100% - 20px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="%23000000" d="M7.5,10.5l3.5,3.5l3.5-3.5h-7Z"/></svg>') no-repeat right 10px center;
    background-size: 12px;
  }
  
  .form-group input[type="Submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 14px 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  .form-group input[type="Submit"]:hover {
    background-color: #0056b3;
  }
  

